.page.theme_dark {

  --subheadings-color: #000028;

  --title-color: #DB00FF;

  --pink-switch-color: #ff0070;

  --nav-switch-color: #ff0070;

  --accent-color: #ff0070;

  --paragraph-color: #F1B2CE;

  --background-image: url(/images/cover-image-dark.png);

  --main-font-family: 'IBM Plex mono', serif;

  --switch-text-size: 18px;

  --title-text-size: 116px;

  --header-padding: 10px;

  --line-height: 23.4px;
}


@media (prefers-color-scheme: dark) {
  :root {
    --subheadings-color: #000028;

    --title-color: #DB00FF;

    --accent-color: #ff0070;

    --paragraph-color: #F1B2CE;

    --background-image: url(/images/cover-image-dark.png);

    --main-font-family: 'IBM Plex mono', serif;

    --switch-text-size: 18px;

    --title-text-size: 116px;

    --header-padding: 10px;

    --line-height: 23.4px;
  }
}
