.page.theme_dark {
  --nav-color: rgba(255, 0, 112, 1);

  --border-nav-color: rgba(255, 0, 112, 0.4);

  --main-title-color: rgba(219, 0, 255, 1);

  --accent-color: rgba(255, 0, 112, 1);

  --article-title-color: rgba(255, 0, 112, 1);

  --main-text-color: rgba(0, 0, 40, 1);

  --paragraph-color: rgba(241, 178, 206, 1);

  --hover-link-color: rgba(241, 178, 206, 1);

  --text-shadow-color: rgba(255, 0, 112, 1);

  --background-cover: url(../images/cover-image-dark.png);

  --rec-decor-visibility: visible;

}


@media (prefers-color-scheme: dark) {
  :root {

    --nav-color: rgba(255, 0, 112, 1);

    --border-nav-color: rgba(255, 0, 112, 0.4);

    --main-title-color: rgba(219, 0, 255, 1);

    --accent-color: rgba(255, 0, 112, 1);

    --article-title-color: rgba(255, 0, 112, 1);

    --main-text-color: rgba(0, 0, 40, 1);

    --paragraph-color: rgba(241, 178, 206, 1);

    --hover-link-color: rgba(241, 178, 206, 1);

    --text-shadow-color: rgba(255, 0, 112, 1);

    --background-cover: url(../images/cover-image-dark.png);

    --rec-decor-visibility: visible;
  }
}
