.page.theme_light {

  --nav-color: rgba(53, 52, 48, 1);

  --border-nav-color: rgba(0, 0, 0, 0.4);

  --main-title-color: rgba(255, 194, 230, 1);

  --main-text-color: rgba(53, 52, 48, 1);

  --accent-color: rgba(255, 141, 203, 1);

  --article-title-color: rgba(53, 52, 48, 1);

  --paragraph-color: rgba(53, 52, 48, 1);

  --hover-link-color: rgba(53, 52, 48, 1);

  --background-cover: url(../images/cover-image-light.png);

  --rec-decor-visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {

    --nav-color: rgba(53, 52, 48, 1);

    --border-nav-color: rgba(0, 0, 0, 0.4);

    --main-title-color: rgba(255, 194, 230, 1);

    --main-text-color: rgba(53, 52, 48, 1);

    --accent-color: rgba(255, 141, 203, 1);

    --article-title-color: rgba(53, 52, 48, 1);

    --paragraph-color: rgba(53, 52, 48, 1);

    --hover-link-color: rgba(53, 52, 48, 1);

    --background-cover: url(../images/cover-image-light.png);

    --rec-decor-visibility: hidden;
  }
}


