.page.theme_light {

  --nav-color: #000000;

  --border-nav-color: rgba(0, 0, 0, 0.5);

  --main-title-color: rgba(255, 194, 230, 1);

  --accent-color: rgba(255, 141, 203, 1);

  --article-title-color: #000000;

  --paragraph-color: #000000;

  --background-cover: url(../images/cover-image-light.png);

  .rec {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --nav-color: #000000;

    --border-nav-color: rgba(0, 0, 0, 0.5);

    --main-title-color: rgba(255, 194, 230, 1);

    --accent-color: rgba(255, 141, 203, 1);

    --article-title-color: #000000;

    --paragraph-color: #000000;

    --background-cover: url(../images/cover-image-light.png);
}
  .rec {
    display: none;
  }
}


