/* глобальные атрибуты */
.page {
  font-family: var(--font-style);
  line-height: var(--line-height);
  font-size: var(--font-size);
  background-image: var(--background-cover);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.background {
  display: grid;
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  min-block-size: 100vh;
}

/* стили ссылок */
.main_link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}


.main_link:hover {
  border-block-end: 1px solid var(--hover-link-color);
  writing-mode: horizontal-tb;
}

.main_link:focus {
  outline: none;
}

.main_link:focus-visible {
  outline: 1px solid var(--paragraph-color);
}
/* стили ссылок */
/* глобальные атрибуты */

/* декоративные атрибуты */
.rec {
  position: absolute;
  z-index: -1;
  visibility: var(--rec-decor-visibility);
  display: inline-flex;
  align-items: center;
  gap: 10px;
  inset-inline-end: 20px;
  inset-block-start: 10px;
}

.rec::before {
  content: "REC";
  color: var(--accent-color);
  line-height: 24px;
}

.rec::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px var(--accent-color);
  background: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  z-index: -1;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--nav-color);
  border-block-start: 1px solid var(--nav-color);
  inset-inline-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  z-index: -1;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--nav-color);
  border-block-end: 1px solid var(--nav-color);
  inset-inline-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}
/* декоративные атрибуты */

/* хэдр */
.header {
  align-items: start;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 2px 12px;
  color: var(--nav-color);
  line-height: 18px;
  appearance: none;
  text-transform: lowercase;
  background: transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border-color: var(--nav-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border-color: var(--border-nav-color);
}

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: currentColor;
}

.header__theme-menu-button_active:disabled {
  pointer-events: none;
}

.header__theme-menu {
  justify-self: end;
  margin-block: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  color: var(--main-title-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;

}

.header_title {
  text-shadow: 4px 4px 0 var(--text-shadow-color);
}

.header_paragraph {
  margin-block: 55px;
  color: var(--main-text-color);
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
  background: var(--accent-color);
}
/* хэдр */

/* секция мэин */
.main {
  display: grid;
  gap: 50px;
  padding: 40px 10px;
}

.section {
  display: grid;
  gap: 20px;
}
/* этот гэп подвигать для текста как в макете */

.main_title {
  color: var(--article-title-color);
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
}

.article_list{
  display: grid;
  gap: 20px;
}

.article {
  display: grid;
  gap: 10px;
}

.article_title {
  color: var(--main-text-color);
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
  background: var(--accent-color);
}

.main_paragraph {
  color: var(--paragraph-color);
}

.article__subtitle {
  color: var(--main-text-color);
  font-weight: 100;
  font-size: inherit;
  line-height: inherit;
  background: var(--accent-color);
}

.title_section_how {
  margin-block-end: 20px;
}

.image_gallery {
  gap: 10px;
}

.image_list {
  display: grid;
  gap: 10px;
}

.image_item {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}
/* секция мэин */

.footer {
  place-items: center;
}

.footer_title {
  text-shadow: 2px 2px 0 var(--text-shadow-color);
}


@media (width >= 768px) {
  .rec {
    inset-inline-end: 28px;
    inset-block-start: 20px;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header {
    padding-inline-start: 0;
  }

  .header__theme-menu {
    margin-block-start: 170px;
    margin-block-end: 70px;
  }

  .header_paragraph {
    justify-self: end;
    inline-size: clamp(364px, calc(100% / 2 - 10px), 491px);
  }

  .main {
    gap: 80px;
    padding: 60px 20px;
  }

  .section {
    grid-template-columns: clamp(236px, calc(100% / 3.25), 315px) 1fr;
  }

  .article_list_section_what {
    grid-column-start: span 2;
  }

  .article_list_section_how {
    grid-column-start: 2;
  }

  .image_gallery {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .image_list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .image-list_item:first-child,
  .image-list_item:last-child {
    grid-column-start: span 2;
  }

  .image-list_item:nth-child(2),
  .image-list_item:nth-child(3) {
    grid-row-start: span 2;
  }

}

@media (width >= 1024px) {


  .header__theme-menu {
    justify-self: center;
    margin-inline-start: 20px;
    margin-block-start: 0;
    margin-block-end: 215px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .section {
    column-gap: 30px;
  }

  .section-what__articles-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .article_list_section_what {
    grid-template-columns: repeat(3, 1fr);
  }

  .main_title {
    max-width: 19.685rem;
  }
}
